<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <img class="lobbie" src="./static/images/logo.png" alt="Logo">
  <title>Welkom<%= data.firstName %>!</title>
 <h1>  <%= data.lastName &></h1>
 <h2>  <%= data.age &></h2>
   <%= data.photo &> 
 <p>  <%= data.bio &> </p>


    

</body>
</html>
